body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./flat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.image-fixe{
  position: fixed;
  left: 1px;
  
  width: 450px;
  height: auto;
}


.regroupment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centerss;
}

.name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
}

.contenu{
  margin-left: 40%;
  right: 60%;

}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .img{
  position: fixed !important;
  left: 0;
  bottom: 0;
  opacity: 50%;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.ensemble{
  display: flex;
  flex-direction: column;
}

.photoshop{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dossierhtml{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dossiercss{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about{
  gap: 40px;
}

.download{
  display: inline;
  background-color: rgb(166, 166, 175);
  border: #333;
  border-radius: 20px;
  padding: 10px;
  gap: 80px;
}

progress{
  width: 80%;
  height: 30px;
  background-color: #272626;
  color: #333;
}

#menu-toggle {
  display: none;
}

.hamburger{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}
.hamburger span{
  display: block;
  width: 30px;
  height: 4px;
  background: black;
  transition: 0.3s;
}
#menu-toggle:checked + .hamburger
span:nth-child(1){
  transform: translateY(10px) 
  rotate(45deg);
}
#menu-toggle:checked + .hamburger
span:nth-child(2){
  opacity: 0;
}
#menu-toggle:checked + .hamburger
span:nth-child(3){
  transform: translateY(-10px)
  rotate(-45deg);
}

#menu-overlay{

  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background: #333;
  color: white;
  transition: right 0.3s ease-in-out;
  padding-top: 60px;
}
#menu-toggle:checked~ #menu-overlay {
  right: 0;
}
.menu-overlay ul{
  list-style: none;
  padding: 0;
  text-align: center;
 }
.menu-overlay ul li{
padding: 15px;
text-align: center;
}
.menu-overlay ul li a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
}
.menu-overlay ul li a:hover{
  background: black;
}


 ul li {
    list-style: none;
  }

  .dwell{
    display: flex;
    align-items: center;
    
  }

  .téléphone{
    display: flex;
    
    align-items: center;
  }

  .email{
    display: flex;
    align-items: center;
    
  }

  input[type="checkbox"]:checked ~ .toggle .top_line{
    transform: rotate(45deg);
    left: 2px;
    top: 14px;
    width: 25px;
  }

  input[type="checkbox"]:checked ~ .toggle .bottom_line{
    transform: rotate(-45deg);
    left: 2px;
    top: 14px;
    width: 25px;
  }

  input[type="checkbox"]:checked ~ .toggle .middle_line{
    transform: translateX(20px);
    opacity: 0;
  }

  .form-container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  form .label{
    display: block;
    margin: 10px;
  }

  input, textarea{
    width: 100%;
    padding: 8px;
    margin-top:5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button{
    margin-top: 15px;
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button :hover{
    background: darkblue;
  }

  footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width:1130px){
    .image-fixe{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    body{
      display: flex;
      flex-direction: columns;
      flex-direction: row;
    }
    footer{
      display: flex;
      flex-direction: row;
    }
  }

  @media (max-width: 560px) {
    blockquote{
      font-weight: bold;
      font-size: 30px;
    }
    .image-fixe{
      width: 500px;
      height: auto; ;
    }
    footer{
      display: flex;
      flex-direction: row;
    }
  }

