body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: aliceblue;
}

.image-fixe{
  position: fixed;
  left: 1px;
  
  width: 450px;
  height: auto;
  

}

.contenu{
  margin-left: 40%;
  right: 60%;

}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .img{
  position: fixed !important;
  left: 0;
  bottom: 0;
  opacity: 50%;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.ensemble{
  display: flex;
  flex-direction: column;
}

.photoshop{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dossierhtml{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dossiercss{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.download{
  display: inline;
  background-color: rgb(166, 166, 175);
  border: #333;
  border-radius: 20px;
  padding: 10px;
  gap: 80px;
}

progress{
  width: 80%;
  height: 30px;
  background-color: #272626;
  color: #333;
}

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 30px;
    left: 20px;
    border: 0.8px solid rgba(255,255,255,0.2);
    cursor: pointer;
    border-radius: 2px;
    z-index: 1;
  }

  .toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    left: 50px;
    background: #fff;
    border-radius: 50px;
    transform: translate(-50%,-50%);
    transition:height 0.3s ease;
  }

  .toggle .top_line{
    top: 30%;
  }

  .toggle .middle_line{
    top: 30%;
  }

  .toggle .bottom_line{
    top: 30%;
  }
 ul li {
    list-style: none;
  }

  .dwell{
    display: flex;
    align-items: center;
    
  }

  .téléphone{
    display: flex;
    
    align-items: center;
  }

  .email{
    display: flex;
    align-items: center;
    
  }

  input[type="checkbox"]:checked ~ .toggle .top_line{
    transform: rotate(45deg);
    left: 2px;
    top: 14px;
    width: 25px;
  }

  input[type="checkbox"]:checked ~ .toggle .bottom_line{
    transform: rotate(-45deg);
    left: 2px;
    top: 14px;
    width: 25px;
  }

  input[type="checkbox"]:checked ~ .toggle .middle_line{
    transform: translateX(20px);
    opacity: 0;
  }

  .form-container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  form .label{
    display: block;
    margin: 10px;
  }

  input, textarea{
    width: 100%;
    padding: 8px;
    margin-top:5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button{
    margin-top: 15px;
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button :hover{
    background: darkblue;
  }

  footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media ()
